/* CSS RESET */
body {
    line-height: 1;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    vertical-align: baseline;
    font: inherit;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
/* END OF CSS RESET */

@font-face {
    font-family: 'dosisextralight';
    src: url('dosis-variablefont_wght-webfont.woff2') format('woff2'),
    url('dosis-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}   /* Dosis Font Face*/

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    box-sizing: border-box;
    font-family: 'dosisextralight', sans-serif;
}

header, footer {
    display: block;
    vertical-align: middle;
    width: 100vw;
    height: 100vh;
    padding: 1vw 0;
    color: #ffffff;
    background-color: #1E2E40;
}

footer {
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    display: inline-block;

    width: 5vw;
    height: 5vh;
    margin-left: 4vw;

    color: #bababa;
    font-size: 2.0vw;
    text-align: center;
    background-color: rgba(30, 46, 64, 0.5);
}

.logo a:hover {
    color: white;
}

nav {
    display: inline-block;
    float: right;

    width: 85vw;
    height: 5vh;
    padding: 2.5vh 5vw 0 0;

    color: #bababa;
    font-size: 1.4vw;
    text-align: right;
}

nav a {
    display: inline-block;
    margin: 0 0.9vw;
    padding-bottom: 0.25vh;
    font-weight: bold;
}

nav a:hover {
    border-bottom: 0.17em #bababa dotted;
}

#intro {
    text-align: center;
    line-height: 2.5vh;
}

#intro h1 {
    margin: 5vw 0;
    font-size: 6vw;
}

#intro p {
    display: inline-block;

    width: 60vw;
    margin: 3vh auto;

    color: #bababa;
    font-size: 2.5vw;
    line-height: 1.8em;
}

#intro table {
    display: inline-block;
    margin: 3vh 5vw;
}

#intro td {
    width: 1.5vw;
    height: 3.5vh;
    border: 0.05em #8d8d8d solid;

    color: #8d8d8d;
    align-content: center;
    font-size: 1.8vw;
    padding: 0.5em 0.5em;
    vertical-align: middle;
}

#left {
    transform: rotate(-15deg);
}

#right {
    transform: rotate(15deg);
}

.btn {
    display: inline-block;

    padding: 1em;
    margin: 1% 5% 5% 5%;
    border: 0.05em white solid;
    border-radius: 15px;

    color: white;
    font-size: 1.8vw;
}

.btn:hover {
    color: #1E2E40;
    background-color: white;
}

#howToPlay {
    display: block;
    width: 93vw;
    height: 95vh;
    margin: 1vh 0 4vh 7vw;
}

h2 {
    display: inline-block;
    padding-bottom: 0.2em;
    margin: 5vh 0 6vh 0;
    color: #1E2E40;
    font-size: 3.3vw;
    border-bottom: #1E2E40 0.1em dotted;
}

.steps {
    display: inline-block;

    width: 45%;
    padding: 0 1%;
    margin: 1% 1% 1% 7px;
    border-left: 0.2em rgba(145, 22, 22, 0.77) solid;

    color: #4f4f4f;
    font-size: 1.3vw;
    text-align: justify;
    line-height: 1.95vw;
}

#objective {
    border-left-color: rgba(0, 133, 123, 0.79);
}

#gettingStarted {
    border-left-color: rgba(21, 45, 122, 0.71);
}

.steps h3 {
    color: #1E2E40;
    padding-bottom: 3%;
    font-size: 1.55vw;
    font-weight: bold;
}

.grid {
    display: inline-block;
    float: left;

    margin-right: 20px;
    padding-top: 3%;
    padding-left: 20%;
    clear: both;
}

.grid table {
    display: inline-block;
    border: 0.3em #8d8d8d solid;
    border-collapse: collapse;
    font-size: 0.9vw;
}

.grid td {
    width: 4.0vw;
    height: 4.15vw;
    border: 0.05em #8d8d8d solid;

    color: #7a7a7a;
    align-content: center;
    font-size: 1.5vw;
    padding: 0.6em;
    text-align: center;
    vertical-align: middle;

    box-sizing: border-box;
}

.rowDemoColor {
    background-color: rgba(255, 83, 83, 0.43);
}

.boxDemoColor {
    background-color: rgba(0, 152, 141, 0.43);
}

.colDemoColor {
    background-color: rgba(79, 122, 248, 0.42);
}

.rowGridColor {
    background-color: rgba(101, 171, 171, 0.39);
}

.colGridColor {
    background-color: rgba(101, 171, 171, 0.39);
}

.errorCell {
    background-color: rgba(255, 83, 83, 0.43);
}

.controls {
    display: inline-block;
    width: 20%;
    margin: 0;
    padding-top: 8%;

    color: #1E2E40;
    vertical-align: top;
}

#difficulty {

    margin: 0;
    padding-bottom: 0.3em;
    padding-right: 22em;
    display: inline-block;

    color: #4f4f4f;
    font-size: 1.5em;
    font-weight: bolder;
}

#timer {

    padding-bottom: 0.3em;
    display: inline-block;

    color: #4f4f4f;
    font-size: 1.5em;
    font-weight: bolder;
}

#keypad td {

    width: 3.5em;
    height: 3.5em;
    border: 0.05em #8d8d8d solid;

    vertical-align: middle;
    text-align: center;
    cursor: pointer;

    color: #4f4f4f;
    font-size: 2em;
    font-weight: bolder;
}

#keypad td:hover {
    background-color: rgba(0, 47, 188, 0.43);
}

#otherKeys td{

    width: 5.25em;
    height: 3.0em;
    padding-top: 0.2em;
    border: 0.05em #8d8d8d solid;
    border-top: none;

    vertical-align: middle;
    text-align: center;
    cursor: pointer;

    color: #4f4f4f;
    font-size: 2em;
    font-weight: bolder;
}

#otherKeys td:hover {
    background-color: rgba(0, 47, 188, 0.43);
}

#hint, #undo {
    color: #4f4f4f;
    font-size: 0.8em;
    line-height: 1.8em;
    font-family: dosisextralight, sans-serif;
}

#grid .userFill {
    color: #1E2E40;
    font-weight: bolder;
}

#grid .error {
    background-color: rgba(255, 83, 83, 0.43);
}

footer {
    margin-top: 3%;
}

small {
    display: inline-block;
    position: relative;
    left: 40%;
    bottom: 3%;

    font-size: 1.2em;
}

#gridSection {
    height: 80vh;
}

.learn {
    display: block;
    width: 93vw;
    height: 78vh;
    margin: 1vh 0 4vh 7vw;

}

.scroller {
    scroll-snap-align: start;
}

#container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.tips {
    display: inline-block;
    position: absolute;
    top: 45vh;

    width: 25vw;
    padding: 1.5% 1%;
    border-radius: 15px;

    color: white;
    font-size: 1.3vw;
    text-align: justify;
    line-height: 1.95vw;
}

.tips h3 {
    display: inline-block;
    font-size: 1.5vw;
    font-weight: bold;
    letter-spacing: 0.05em;
}

#strats {

    left: 8vw;
    border-top: 0.3em rgba(145, 22, 22, 0.77) solid;
    background-color: rgba(145, 22, 22, 0.67);
}

#difficultyLevel {

    left: 38vw;
    border-top: 0.3em rgba(19, 110, 110, 0.84) solid;
    background-color: rgba(19, 110, 110, 0.75);
}

#practice {

    left: 68vw;
    border-top: 0.3em rgba(12, 52, 138, 0.85) solid;
    background-color: rgba(12, 52, 138, 0.75);
}

#seeBelow {
    position: absolute;
    top: 86vh;
    left: 50vw;

    color: #b5b5b5;
    font-size: 3vw;

}

#fallInLine {
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 1vh 0 4vh 7vw;
    background-color: #f5f5f5;
}

#fallInLine .grid {

    padding-top: 0;
    padding-left: 3%;
}